@charset "UTF-8";
html {
  font-size: 10px;
  font-family: '微軟正黑體';
  color: #3F5D45;
  background-color: #fafafa;
}

html, body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 0.6rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
}

h6 {
  font-size: 1.6rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

input {
  outline: none;
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  letter-spacing: 0.1rem;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #fff;
  overflow: visible;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.m-0 {
  margin: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-60-response-30 {
  margin-bottom: 60px;
}

.mb-section-response {
  margin-bottom: 105px;
}

.desktop-section-padding {
  padding: 0 42px;
}

.width-100p {
  width: 100%;
}

.button, button {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.7;
}

.button:active, button:active {
  opacity: 1;
}

.img {
  background-size: cover;
  background-position: center center;
}

.bg-dark {
  background-color: #3F5D45;
  color: #fff;
}

.bg-light {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.bg-secondary {
  background-color: #FFE180;
  color: #3F5D45;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

header .menu-button {
  width: 18px;
  height: 12px;
  padding: 5px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu-button > div {
  width: 100%;
  height: 2px;
  background-color: #3F5D45;
  border-radius: 1px;
  position: relative;
}

header .menu-button > div::before, header .menu-button > div::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3F5D45;
  border-radius: 1px;
  position: absolute;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .menu-button > div::before {
  top: -6px;
}

header .menu-button > div::after {
  bottom: -6px;
}

header .logo .img {
  width: 220px;
  height: 40px;
  background-image: url("../images/logo-all-dark.svg");
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav a {
  color: inherit;
  padding: 5px 20px;
  margin-left: 20px;
}

header nav .active {
  color: #ffc91a;
}

.cart-button {
  color: inherit;
  font-size: 20px;
  padding: 5px;
  margin-left: 55px;
}

footer > div {
  padding: 30px 122px;
}

footer .follow {
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .follow .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .follow .logo {
  margin-right: 20px;
}

footer .input-group {
  -webkit-box-flex: 380px;
      -ms-flex: 380px;
          flex: 380px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .input-group > i {
  margin: 0 15px;
}

footer input {
  width: 100%;
  height: 100%;
  font-size: inherit;
}

footer button {
  color: inherit;
  font-size: 16px;
  padding: 19px 24px;
}

footer .info {
  position: relative;
}

footer .info .logo {
  margin-bottom: 115px;
}

footer .text {
  position: absolute;
  top: 30px;
  right: 122px;
}

footer .community-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .community-copyright .community-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .community-copyright .community-list a {
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .community-copyright .copyright {
  margin-bottom: 0;
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 414px) {
  .mobile-hidden {
    display: none;
  }
  .desktop-section-padding {
    padding: 0;
  }
  .mb-section-response {
    margin-bottom: 120px;
  }
  .mb-60-response-30 {
    margin-bottom: 30px;
  }
  header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .logo .img {
    width: 115px;
    height: 20px;
    background-image: url("../images/logotype-sm-dark.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  header nav {
    position: absolute;
    top: 99%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #fff;
  }
  header nav a {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 15px;
  }
  header nav a:not(:last-child) {
    border-bottom: 1px solid #3F5D45;
  }
  header .cart-button {
    margin: 0;
  }
  header .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .menu-button > div {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }
  header.menu-open nav {
    height: 160px;
  }
  header.menu-open .menu-button > div {
    background-color: transparent;
    -webkit-transition: initial;
    transition: initial;
  }
  header.menu-open .menu-button > div::before, header.menu-open .menu-button > div::after {
    top: 0;
    left: 50%;
    width: 110%;
  }
  header.menu-open .menu-button > div::before {
    -webkit-transform: translateX(-50%) rotate(225deg);
            transform: translateX(-50%) rotate(225deg);
  }
  header.menu-open .menu-button > div::after {
    -webkit-transform: translateX(-50%) rotate(-225deg);
            transform: translateX(-50%) rotate(-225deg);
  }
  footer > div {
    padding: 30px;
  }
  footer .follow {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  footer .title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .input-group {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 30px;
    margin-left: 0;
  }
  footer .info .logo {
    margin-bottom: 40px;
  }
  footer .community-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .community-copyright .community-list {
    margin-bottom: 23px;
  }
  footer .community-copyright .copyright {
    margin: 0;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
  }
}

.product-item {
  -webkit-box-shadow: 0 0 10px #EAF0ED;
          box-shadow: 0 0 10px #EAF0ED;
}

.product-item .img {
  height: 315px;
  position: relative;
}

.product-item .daily-selected {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  color: #fff;
  padding: 12px 8px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.product-item .heart {
  position: absolute;
  top: 20px;
  right: 19px;
  font-size: 20px;
}

.product-item .name-price {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.product-item .name, .product-item .price {
  padding: 14px 0;
  background-color: #fff;
}

.product-item .name {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-right: 1px solid #EAF0ED;
  font-weight: 300;
}

.product-item .price {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-weight: 500;
}

.product-item .price::before {
  content: "NT$ ";
}

.product-item button {
  width: 100%;
  color: inherit;
  font-size: 2.4rem;
  padding: 16px 0;
}

.page-label-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.page-label {
  padding: 15px 25px;
  border: 1px solid #EAF0ED;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.page-label.active {
  background-color: #3F5D45;
  color: #fff;
}

.banner {
  margin-top: 20px;
  height: 496px;
  position: relative;
  margin-bottom: 60px;
}

.banner .img {
  width: 100%;
  height: 100%;
}

.banner .text {
  width: 89px;
  position: absolute;
  top: 40px;
  right: 82px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .product-menu {
  font-size: 2.4rem;
  width: 300px;
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product .product-content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.product .product-menu-list {
  text-align: center;
  padding: 15px 0;
  border: 1px solid #EAF0ED;
}

.product .product-menu-list.active {
  background: #EAF0ED;
}

.product .product-item {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

.product .product-item:nth-child(odd) {
  margin-right: 20px;
}

.product .page-label-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 414px) {
  .banner {
    height: 277px;
    margin-bottom: 0;
  }
  .banner .img {
    background-position-x: right;
  }
  .banner .text {
    width: 59px;
    top: 30px;
    right: 30px;
  }
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product .product-menu {
    width: 100%;
  }
  .product .product-item-list {
    padding: 0 30px;
  }
  .product .product-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .product .product-item:nth-child(odd) {
    margin-right: 0;
  }
  .product .page-label-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=product.css.map */